* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  width: 60%;
  margin: auto;
}

.videoItems {
  margin: 4rem 0;
  list-style: none;
}

.videoItem {
  box-shadow: 5px 5px #ececec;
  line-height: 25px;
  display: flex;

  width: 50%;
  float: left;
  padding: 5px;
}

.video_data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.thumnail {
  width: 120px;
  height: 90px;
}

.video_title {
  font-size: 10px;
}

.video_channel_title {
  font-size: 8px;
}
